<table  id="myTable" class="tablesorter table">
	<thead>
		<tr>
			<th>Title <%= image_tag 'arrow-sort.png', :class => 'sort-arrow' %></th>
			<th>Year <%= image_tag 'arrow-sort.png', :class => 'sort-arrow' %></th>
			<th>Rating <%= image_tag 'arrow-sort.png', :class => 'sort-arrow' %></th>
			<th>Type <%= image_tag 'arrow-sort.png', :class => 'sort-arrow' %></th>
			<th>IMDB ID <%= image_tag 'arrow-sort.png', :class => 'sort-arrow' %></th>
			<th>Image <%= image_tag 'arrow-sort.png', :class => 'sort-arrow' %></th>
		</tr>
	</thead>
	
	<tbody>
		<% @movies.each_with_index do |movie, index| %>
	<tr>
		<td> <a href="<%= movie.link %>" target='_blank'> <%= movie.title.upcase %> </a> </td>
		<td><%= movie.year if movie.year %></td>
		<td><%= movie.rating if movie.rating %></td>
		<td><%= movie.source if movie.source %></td>
		<td><%= movie.imdb if movie.imdb %></td>
		<td><img src="<%= movie.image %> " class="thumbnail"></td>
		</tr>
		<% end %>
	</tbody>
	
</table>